@use "./variables" as *;

//----------------------Starts of about us section styling-----------------//
// Using flex to display iae and text side by side
.flexAbout {
  display: flex;
  align-items: center;
  .imgContainer {
    width: 30%;
    min-width: 300px;
    img {
      border: 5px solid;
    }
  }
}
// Styling text
.aboutText {
  width: 70%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  h2 {
    margin-bottom: 50px;
  }
  p {
    padding-bottom: 30px;
  }
}
//----------------------End of about us section styling-----------------//
