@use "./variables" as *;

//----------------------Starts of header styling-----------------//
//global styling, using flex to center everything whitin tthe header
header {
  background-image: url(../assets/local.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  padding-top: 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 400px;
  }
}
//Hiding h1
h1 {
  display: none;
}
// Hiding burger menu
.menuOpen {
  display: none;
}
.menuClose {
  display: none;
}
//----------------------End of header styling-----------------//
