@use "./variables" as *;

//----------------------Starts of nav styling-----------------//
//global styling, using flex to diaply li side by side
nav {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    li {
      padding-right: 50px;
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
    }
    a:hover,
    a:focus {
      color: $primaryColor;
      text-decoration: underline;
    }
  }
}

//Styling dropdon icon in the menu li
.menuNav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  i {
    padding-bottom: 10px;
    font-size: 1rem;
    cursor: pointer;
  }
}
.navMenu {
  margin-right: 10px;
  position: relative;
}
//styling dropdown/up icons
.fa-chevron-down {
  position: absolute;
  right: 35px;
  color: black;
  z-index: 10;
}
.fa-chevron-up {
  position: absolute;
  right: 35px;
  color: transparent;
}

//Styling the dropDown menu
.newDiv {
  margin-top: -20px;
  ul {
    display: flex;
    padding: 0;
    li {
      padding: 5px 10px;
      font-size: 1.1rem;
      a:hover,
      a:focus {
        color: $primaryColor;
      }
    }
  }
}
//----------------------ends of nav styling-----------------//
