$primaryFont: "louis";
$secondayFont: "ahai";
$primaryColor: #cf201b;
$secondaryColor: #3d4a8c;

@font-face {
  font-family: louis;
  src: url(../assets/louis_george_caf/LouisGeorgeCafe.ttf);
}
@font-face {
  font-family: ahai;
  src: url(../assets/ahai/Ahai.ttf);
}
