html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
  width: 100%;
  height: auto;
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 125%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: louis;
  src: url(../assets/louis_george_caf/LouisGeorgeCafe.ttf);
}
@font-face {
  font-family: ahai;
  src: url(../assets/ahai/Ahai.ttf);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "louis";
  color: black;
}

p, li {
  font-family: "louis";
}

h1, h2, h3, h4, a {
  font-family: "ahai";
}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

h3 {
  font-size: 2.2rem;
  text-transform: uppercase;
}

h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

p {
  font-size: 1.2rem;
}

section {
  padding-top: 20px;
  padding-bottom: 50px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}
nav ul li {
  padding-right: 50px;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
nav ul a:hover,
nav ul a:focus {
  color: #cf201b;
  text-decoration: underline;
}

.flag {
  width: 50px;
}

.menuOpen {
  color: transparent;
}

.menuClose {
  color: transparent;
}

header {
  background-image: url(../assets/local.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  padding-top: 10px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header img {
  width: 400px;
}

h1 {
  display: none;
}

.flexAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flexAbout .imgContainer {
  width: 30%;
  min-width: 300px;
}
.flexAbout .imgContainer img {
  border: 5px solid;
}

.abouttext {
  width: 70%;
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.abouttext h2 {
  margin-bottom: 50px;
}
.abouttext p {
  padding-bottom: 30px;
}

.menu h2 {
  text-align: center;
  margin-bottom: 30px;
}
.menu h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}
.menu .extra {
  margin-top: 30px;
}
.menu .menuGalettes,
.menu .menuCrepes,
.menu .menuGourmandise,
.menu .menuDrinks {
  border-bottom: 45px solid #3d4a8c;
}
.menu .extraText {
  padding-bottom: 30px;
}
.menu li {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.menu li:hover,
.menu li:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.menu span {
  margin-left: 20px;
}

.flexGalette {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.galette {
  width: calc(20% - 20px);
  margin-right: 50px;
  margin-top: 50px;
  min-width: 250px;
  border: 3px solid #cf201b;
  padding: 25px;
  position: relative;
}

.flexcrepes {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flexcrepes .crepe {
  width: calc(25% - 20px);
  margin-right: 30px;
  margin-top: 50px;
  min-width: 250px;
  border: 3px solid #cf201b;
  padding: 25px;
  position: relative;
}

.flexgourmandise {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flexgourmandise .gourmandise {
  width: calc(50% - 100px);
  margin: 30px 0;
  min-width: 250px;
  border: 3px solid #cf201b;
  padding: 20px;
  position: relative;
}

.drinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 0;
}
.drinks .pop {
  margin-top: 40px;
  min-width: 250px;
  border: 3px solid #cf201b;
  padding: 20px;
  position: relative;
}
.drinks .popChoice {
  font-size: 0.9rem;
}

.price {
  position: absolute;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  background-color: #cf201b;
  color: white;
  border-radius: 50%;
  padding: 15px;
  top: -35px;
  right: -65px;
  font-family: "louis";
  font-size: 1.8rem;
}

.price2 {
  position: absolute;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  background-color: #cf201b;
  color: white;
  border-radius: 50%;
  padding: 15px;
  top: -35px;
  right: -45px;
  font-family: "louis";
  font-size: 2rem;
}

.contactUs {
  margin-top: 80px;
}
.contactUs .imgContainer {
  margin-bottom: 40px;
}
.contactUs .imgContainer img {
  border: 5px solid;
}

.contactInfos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contactInfos h2 {
  margin-bottom: 50px;
}
.contactInfos h2 span {
  display: block;
}
.contactInfos li {
  margin-bottom: 5px;
}
.contactInfos p {
  text-align: center;
}
.contactInfos .hours {
  font-size: 1rem;
  padding-bottom: 10px;
  text-align: left;
}

.contactText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contactText p {
  margin-bottom: 10px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}
.social .fa-brands {
  font-size: 3rem;
}
.social img {
  width: 55px;
  border-radius: 10px;
}
.social a {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.social a:hover, .social a:focus {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

footer {
  background-color: #cf201b;
}
footer p {
  padding: 10px;
  color: white;
  text-align: center;
}

@media (max-width: 1020px) {
  nav ul li {
    font-size: 1.5rem;
  }
}
@media (max-width: 820px) {
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav ul li {
    font-size: 1rem;
    padding-top: 20px;
  }
}
@media (max-width: 750px) {
  nav {
    position: relative;
  }
  .dynamicMenu {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: absolute;
    top: 30px;
    right: -35px;
    -webkit-transform: translatex(190%);
            transform: translatex(190%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .dynamicMenu li {
    padding-top: 15px;
  }
  .showMenu {
    -webkit-transform: translatex(0);
            transform: translatex(0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .menuOpen {
    color: black;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 10;
    cursor: pointer;
  }
  .menuClose {
    font-size: 1.8rem;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
  }
  header img {
    width: 250px;
  }
  .flexAbout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flexAbout .imgContainer {
    width: 100%;
  }
  .flexAbout .abouttext {
    width: 100%;
    margin: 0;
  }
  .flexAbout .abouttext h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
  }
  .flexAbout .abouttext p {
    text-align: center;
  }
  .menu h3,
  .menu h4 {
    text-align: center;
  }
  .menu p {
    text-align: center;
  }
  .flexGalette,
  .flexcrepes,
  .flexgourmandise {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .galette {
    margin-right: 0;
  }
  .flexcrepes .crepe {
    margin-right: 0;
  }
  .flexContactUs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactInfos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactInfos h2 {
    text-align: center;
  }
  .contactInfos h2 span {
    display: inline;
  }
  .contactInfos p {
    text-align: center;
  }
  .contactInfos ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
  }
  .contactInfos ul .hours {
    text-align: center;
  }
}